#title{
    font-size: 40px; 
    font-family: Georgia;
}

#summary{
    font-size: 20px; 
    font-family: Georgia; 
}

#loginbar{
    font-size: 15px; 
    font-family: Georgia; 
}

#pagealign{
    width: 800px; 
    margin: 0 auto; 
}

#navibar{
    font-size: 15px; 
    font-family: Georgia; 
}

#naviitem{
    font-size: 15px; 
    font-family: Georgia; 
    align: center; 
    background-color: #00FF00; 
}

#navitable{
    table-layout: fixed; 
    border: 0px;
}